@font-face {
  font-family: Encode sans;
  src: url(/fonts/EncodeSansSC-Medium.ttf);
}
@font-face {
  font-family: Encode sans;
  src: url(/fonts/EncodeSansSC-Regular.ttf);
}
@font-face {
  font-family: canaro;
  src: url(/fonts/Canaro-LightDEMO.ttf);
}
:root
{
    /* === colors === */
    --first-color: #00ca6c;
    --input-box-color: rgb(4, 92, 224);
    --title-color: rgb(238, 88, 88);
    --label-color: #222; 
    --label-color-focus: #333;
    --input-color: #6d022b;
    --border-color: #535355;
    --success-color: #00ca6c;
    --error-color: rgb(236, 4, 4);
    --contrast-color: rgb(235, 102, 13);

    /* == typography == */
    --body-font: 'Baxello', sans-serif;
    --normal-font: 'canaro';
    --alternative-font: 'Encode Sans';
    --normal-font-size: 1rem;
    --small-font-size: .85rem;
    --large-font-size: 3rem;
    --title-font-size: 2.5rem;
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--alternative-font);
}
body
{
  height: 100vh;
  width: 100vw;
  /* background-image: linear-gradient(113deg,rgba(42, 166, 214, 0.933),rgba(15, 204, 218, 0.933), #f534f5bd, #df2b85bd, #df2b85bd); */
  background-image: url(/images/img.jpg);
  background-position: center;
  background-size: cover;
  background-position: 20% 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: 'Canaro';
}
.logo
{
  position: absolute;
  top: 0;
  font-family: var(--alternative-font);
  color: var(--title-color);
  font-weight: bold;
  font-size: var(--large-font-size);
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--label-color);
  letter-spacing: 2px;
}
.bg-overlay
{
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(63, 61, 60, 0.452);
}
.wrapper
{
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.overlay
{
  position: absolute;
  width: 80vw;
  background-color: var(--success-color);
  height: 70vh;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  visibility: hidden;
}
.overlay > svg
{
  position: absolute;
  color: #fff;
  height: 6.5rem;
  width: 6.5rem;
}
.container
{
  margin: 1em;
  padding: .5rem 1em;
}
.container-1
{
  position: relative;
  height: 70vh;
  width: 80vw;
  background-color: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(5px);
  border-radius: 4px;
}
.title
{
  color: var(--title-color);
  margin-bottom: 1.5rem;
}

.form
{
  width: 100%;
  height: 100%;

}
.form-div
{
  margin-bottom: 1rem;
  /* border: 1px solid salmon; */
  position: relative;
}
.form-input
{
  display: block;
  width: 70%;
  padding: .8rem;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--border-color);
  color: var(--input-color);
  font-weight: 600;
  font-family: var(--alternative-font);
  font-size: 14px;
  background-color: transparent;
  letter-spacing: 5px;
}
.form-label,
.icons
{
  top: 20%;
}
.form-label
{
  font-family: inherit;
  font-weight: 600;
  color: var(--label-color);
  letter-spacing: 2px;
  position: absolute;
  font-weight: 500;
  left: 5px;
  transition: .2s;
}
.icons
{
  top: 30%;
  position: absolute;
  right: 40%;
  visibility: hidden;
}
.icons svg
{
  position: absolute;
}
button
{
  position: absolute;
  bottom: 1.5em;
  right: 2.5rem;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: tomato;
}
button.jello-vertical{
  -webkit-animation:jello-vertical .9s ease-out both;
  animation:jello-vertical .9s ease-out both
}
/* ----------------------------------------------
 * Generated by Animista on 2021-11-25 14:45:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

 @-webkit-keyframes jello-vertical{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}40%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}50%{-webkit-transform:scale3d(.85,1.15,1);transform:scale3d(.85,1.15,1)}65%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}75%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}@keyframes jello-vertical{0%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}30%{-webkit-transform:scale3d(.75,1.25,1);transform:scale3d(.75,1.25,1)}40%{-webkit-transform:scale3d(1.25,.75,1);transform:scale3d(1.25,.75,1)}50%{-webkit-transform:scale3d(.85,1.15,1);transform:scale3d(.85,1.15,1)}65%{-webkit-transform:scale3d(1.05,.95,1);transform:scale3d(1.05,.95,1)}75%{-webkit-transform:scale3d(.95,1.05,1);transform:scale3d(.95,1.05,1)}100%{-webkit-transform:scale3d(1,1,1);transform:scale3d(1,1,1)}}

small
{
  margin-left: 15%;
  color: var(--title-color);
  font-weight: bold;
  visibility: hidden;
}

.form-input:focus + .form-label
{
    top: -.3rem;
    left: .2rem;
    color: var(--label-color-focus);
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
}

.form-input:not(:placeholder-shown).form-input:not(:focus)+ .form-label
{
    top: -.3rem;
    left: .2rem;
    font-size: var(--small-font-size);
    font-weight: 500;
    z-index: 10;
} 
p
{
  font-family: var(--normal-font);
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 2px;
}
p > a
{
  color: var(--label-color);
  font-weight: bolder;
}

/* === ON SUCCESSFUL FORM SUBMIT === */
.form-div.success .bi-check-circle-fill
{
    visibility: visible;
    color: var(--success-color);
}
.form-div.success .form-input
{
    border-bottom: 2px solid var(--success-color);
}
.form-div.success .form-label
{
    color: var(--success-color);
}




/* === ON ERRONEUS FORM SUBMIT === */
.form.error.animate
{
    -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
@-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
}

.form-div.error .bi-exclamation-circle-fill
{
    visibility: visible;
    color: var(--error-color);
}
.form-div.error small
{
    visibility: visible;
    color: var(--error-color);
}
.form-div.error .form-input
{
    border-bottom: 2px solid var(--error-color);
}
.form-div.error .form-input
{
    color: var(--success-color);
}
.form-div.error .title
{
    color: var(--error-color);
}










